* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', arial;
}

body {
    opacity: 1;
    background-image:  radial-gradient(#212A3E 1.3px, transparent 1.3px), radial-gradient(#212A3E 1.3px, #F5F5F4 1.3px);
    background-size: 48px 48px;
    background-position: 0 0,24px 24px;
}

.header {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 50px 20px 60px 20px;
    color: #394867;
}

.main-display {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    max-width: 1085px;
    margin: 0 auto;
}

.grid-border {
    display: flex;
    border: 1px solid rgba(155, 164, 181, 0.5);
    border-width: 2px;
    border-radius: 3px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: inherit;
    width: 480px; /* 16 cells x 30px */
    height: 480px; /* 16 cells x 30px */
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  
  .grid-cell {
    display: flex;
    width: 30px;
    height: 30px;
    /* border: 1px solid black; */
  }

  .tool-kit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 30px;
    /* border-style: solid;
    background-color: #9BA4B5; */
    /* From https://css.glass */
    background: rgba(155, 164, 181, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  #color-picker {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(155, 164, 181, 0.8);
    border-radius: 2px;
  }

  button {
    padding: 10px;
    width: 100px;
    background-color: #F1F6F9;
    border-width: 1px;
    border-radius: 16px;
  }

  button:hover {
    background-color: #394867; /* Green */
    color: white;
  }

  .slidecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(155, 164, 181, 0.8);
    border-radius: 16px;
    padding: 10px;
  }

  
  